p{
    color: black;
    size: 0vi;
}

.bClass{
    color: rgb(0, 187, 255);
    font-display: fallback;
    background-color:rgb(236, 240, 236);

}

b{

    color: rgb(95, 175, 209);
    font-size: larger;
}

#pId{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;

}

